<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chat</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery-3.1.0.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.7/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.7/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.7/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/17.2.7/js/dx.all.js"></script>
    <script src="https://unpkg.com/devextreme-aspnet-data@1.3.0"></script>
    <script src="chat.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body bgcolor="#5f9ea0" class="dx-viewport" marginheight="225" marginwidth="450">
    <div class="demo-container">
        <div id="grid"></div>
    </div>
    <h1 align="center">Chat Messages</h1>
    <h3>No message yet...</h3>
    <div class="message_holder"></div>
    <table>
    <form action="" method="POST">
      <input type="text" class="User" style="font-size: 15px" placeholder="User Name"/>
      <input type="text" class="Message" style="font-size: 15px" placeholder="Messages"/>
      <input type="submit" style="width: 100px; height: 100px"/>
    </form>
    </table>

