<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="login.js"></script>
</head>
<body background="/static/img/background.jpg" marginheight="225" marginwidth="450">
<table>
    <caption style="font-size:30px; font-family:Calibri; "><strong>Chat Login</strong></caption>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" style="font-size: 15px" id="username"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" style="font-size: 15px" id="password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <center><input type="button" value="login" style="width:110px; height:110px" onclick="getData()"/></center>
            </td>
        </tr>
    </table>

    <div id="action">
    </div>
</body>
</html>
